/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

header nav {
	display: inline-block;
	padding: 20px;
	margin-left: 50px; 
}

header nav a {
	color: lightgray;
	padding: 50px;
	margin-left: 50px;
	font-size: 120%;
	text-decoration: none;
}

h1 {
	display: inline-block;
	padding: 20px 20px 0 20px;
	font-size: 170px;
	text-align: center;
	position: relative;
	left: 300px;
	top: 70px;
}
.button {
	 margin-left: 500px;
	 margin-top: 90px;
	 height: 50px;
	 width: 330px;
	 font-size: 28px;
	 background-color: white;
	 font-family: Arial, Helvetica, sans-serif;
	 border: 1px solid black;
}
.logo {
	display: inline-block;
	margin-top: 40px;
	margin-left: 120px;
	

}

.codesnippet {
	position: relative;
    display: inline-block;
    top: 90px;
	right: -450px;
	height: 550px;
	width: 550px;
}


.features {
	display: inline-block;
	padding: 30px;
	margin: 20px;
	height: 300px;
	width: 780px;
	font-size: 170%;
	margin-left: 170px;
}

.About {
	display: inline-block;
	position: relative;
	font-size: 170%;
	padding: 30px;
	margin: 20px;
	height: 300px;
	width: 780px;
}


hr {
	width: auto;
	margin-left: 200px;
	margin-right: 140px;
	height: 5px;
	background-color:black;
	}

.middle-img {
	display: inline-block;
	margin-left: 190px;
	height: 400px;
	width: 1570px;
	padding: 20px 20px 100px 20px;
}

.Service{
	display: inline-block;
	padding: 10px 10px 0 10px;
	margin: 30px 0 0 0;
	height: 240px;
	width: 500px;
	font-size: 170%;
	margin-left: 200px;
	
}
.Product{
	display: inline-block;
	position: relative;
	font-size: 170%;
	padding: 10px 10px 0 10px;
	margin: 10px 10px 0 10px;
	height: 240px;
	width: 500px;
}
.Vision {
	display: inline-block;
	position: relative;
	font-size: 170%;
	padding: 10px 10px 0 10px;
	margin: 10px 10px 0 10px;
	height: 240px;
	width: 500px;
}

div.contact {
	text-align: left;
	margin-left: 200px;
	font-size: 180%;
	margin-top: 80px;
}
div.copyright {
	padding: 30px 30px 80px 30px;
	text-align: center;
	font-size: 180%;
}

